<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Medico</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css"
    </head>
    <body>
        <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="/atencion" style=" margin-right:5px; margin-left:5px;"> < </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/atencion" align="left" style=" margin-right:5px; margin-left:5px;"> Paciente </a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    <br>

<!-- donde ocurre la magia -->
<table class="table table-bordered table-hover" align="center" border="1" style="width:1500px; height:50px;">
    <thead>
        <tr>
            <td>Identificacion</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Edad</td>
            <td>Fecha Nacimiento</td>
            <td>Enfermedades</td>
            <td>Tipo Sangre</td>
        </tr>
        </thead>
        <tbody>
        <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].idPaciente %></td>
                <td><%= data[i].Nombres %></td>
                <td><%= data[i].Apellidos %></td>
                <td><%= data[i].Edad %></td>
                <td><%= data[i].Fecha_nacimiento %></td>
                <td><%= data[i].Enfermedades %></td>
                <td><%= data[i].Tipo_Sangre %></td>
            </tr>
            <% } %>
        <% } %>
        </tbody>
    </table>
    </body>
</html>